*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    
    padding-top: 1rem;
    background-image: url(img/background.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    align-content: space-around;
}

header{
    width: 80%;
    margin: 0 auto;
    align-self: flex-start;

}

header h1{
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  
}

header h1 img{
    width: 300px;
    height: 4rem;
}

.container-icons{
    display: flex;
    flex-direction: column;
}

.icon-nd-background{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    position: relative;
    z-index: 9;
    top: 0;
    left: 40%;
    padding: 1rem;
    margin: 2rem;
    transition: all 1s;
}
.background-icon{
    position: relative;
    z-index: 8;
    top: 0;
    left: -25%;
    width: 7rem;
    height: 7rem;
    transition: all 1s ease-in-out ;
}
@keyframes spot-ani-big {
    0% {
        transform: rotate(0deg) scale(1); 
    }
    10%{
        transform:  scale(1.1);  
    }
    50%{
        transform: rotate(90deg);
    }

    100%{
        transform: rotate(90deg);
    }
}
a:hover + .background-icon{
    
    animation: spot-ani-big 2s linear;
}


img{
    height: 100px;
}

@media screen and (min-width: 767px){

    .container{
        height: 100vh;
    }
    header{
        width: 80%;
    }
    header h1 img{
        width: 45%;
    }
    .container-icons{
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 80%;
        height: 70vh;
        margin: 0 auto;
    }

    .icon-nd-background{
        width: 20%;
    }
    .background-icon{
        top: 0;
        left: -55%;
    }
}
